/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.primary-nav {
  max-width: 100%;
  padding: 20px 0px;
}

.primary-nav ul,
.secondary-nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: 700;
}

.primary-nav a {
  padding: 20px 15px;
  text-decoration: none;
  color: black;
}

.logo {
  flex: 5;
}

.right-nav {
  flex: 1;
}

.secondary-nav {
  background-color: #054ba6;
}

.secondary-nav li {
  justify-content: space-between;
  padding: 15px;
  color: #fff;
}

h1 {
  margin: 0px 50px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #054ba6;
  color: #fff;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}

.cta {
  background-color: #f25244;
  padding: 5px 10px;
}

/* Home Page */

.welcome-section {
  text-align: center;
}

.welcome-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}

.welcome-articles_specific {
  width: 450px;
  margin: auto;
}

/* Explore */

.explore-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 50px 50px 50px;
}

.explore-articles_specific {
  width: 450px;
}

/* Visit */

.visit-page {
  display: flex;
  margin: 0px 50px;
}

.visit_opening-hours {
  flex: 1;
}

.visit-info {
  flex: 2;
}

/* Education */
.education-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: left;
  margin: 0px 50px;
}

.education-info p {
  width: 700px;
}

/* Events */

.events-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 50px;
}

.events-articles {
  width: 450px;
  padding-bottom: 50px;
}
